.verifyEmailContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #2F3674;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.logoContainer {
    margin-bottom: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.emailInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 268px;
    margin-bottom: auto;
    gap: 6px;
}

.emailInfo p {
    color: #CDCED1;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

.emailInfo span {
    display: block;
}

.emailInfo h3 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
}

.setupBtn {
    background: #3D5AFE;
    border-radius: 32px;
    padding: 16px 30px;
    border: none;
}

.spinnerContainer {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #070B1A;
    display: flex;
    align-items: center;
    justify-content: center;
}


.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}