* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

span,
a {
  font-size: inherit;
  line-height: inherit;
}

.main-container {
  width: 100vw;
  transition: 0.5s;
}

.sideOpen {
  transform: translateX(-362px);
}

.sideOpen .header {
  border-right: 2px solid #070b1a;
}

.cover-most-bg {
  z-index: 1002 !important;
}
