/* navbar */

.navBarContent {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: rgba(12, 17, 33);
    width: 100vw;
    height: 100px;
    padding: 20px 40px;
    align-items: center;
    z-index: 3;
}

.navBarlogo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navBarBtn button {
    padding: 14px 37px;
    background-color: #3D5AFE;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    border-radius: 32px;
    color: #FFFFFF;
    transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.navBarBtn button:hover {
    background: rgba(61, 90, 254, 0.8);
}

.navBarlogo span {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 150%;
}

@media (max-width: 438px) {
    .navBarlogo span {
        display: none;
    }

}
